 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


 .login-page {

     display: flex;
     width: 100vw;
     height: 100vh;
     background-image: url(../register/images/pexels-photo-1372971-Recovered.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 100%;
 }

 .login-page .row {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .login-page h2 {
     font-family: "Great Vibes", cursive;
     font-size: 100px;
 }

 .login-page fieldset {
     padding: 20px;
     margin: 5px;
     border: 2px solid #ccc;
     border-radius: 5px;
     background-color: rgba(255, 255, 255, 0.9);
 }

 .login-page .input {
     width: 100%;
     padding: 10px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 5px;
     outline: none;
 }

 .login-page input::placeholder {
     color: #aaa;
     font-style: italic;
 }

 .login-page label {
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
 }

 .login-page .ifHadAccount {
     font-family: "Montserrat", sans-serif;
 }

 .login-page input:hover {
     border-color: #4096ff;
     border-inline-end-width: 1px;
     z-index: 1;
 }