 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 .register-page {

     display: flex;
     width: 100vw;
     height: 100vh;
     background-image: url(./images/pexels-photo-1372971-Recovered.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 100%;
 }

 .row {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 h2 {
     font-family: "Montserrat", sans-serif;
     font-size: 50px;
 }

 fieldset {
     padding: 20px;
     margin: 5px;
     border: 2px solid #ccc;
     border-radius: 5px;
     background-color: rgba(255, 255, 255, 0.9);
 }

 .input {
     width: 100%;
     padding: 10px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 5px;
     outline: none;
 }

 input:focus {
     border-color: #007bff;
     box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
     background-color: #f0f8ff;
 }

 input::placeholder {
     color: #aaa;
     font-style: italic;
 }

 label {
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
 }

 .ifHadAccount {
     font-family: "Montserrat", sans-serif;
 }